:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  ::-webkit-scrollbar {
    width: 3px;
    height: 0;
    background: orange;
    position: relative;
    padding-left: 7px;
    padding-top: 12px !important;
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;

    &:hover {
      background-color: transparent !important;
    }
  }

}